.custom-modal {
    display: none;
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:#012049;
    border: 4px solid #01439c;
    border-radius: 2px;
    height: 350px;
    width: 350px;
}

.custom-close-btn {
    background-color: transparent;
    border:none;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    color: white;
    height:50px;
    width: 50px;
}


.custom-form {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-submit {
    border: 2px solid white ;
    display: inline-block;
    background-color: #01439c ;
    letter-spacing: 1px ;
    color: white ;
    width: 200px;
    margin-bottom: 10px;
    margin-top: 20px;
    height: 100px;
    font-size: 50px ;
    padding: 10px 20px ;
    border: 2px solid white ;
    border-radius: 5px ;
    cursor: pointer ;
    font-family: "PExBold" ;
    transition: background-color 0.3s ease ;
}

.custom-submit:hover {
    background-color: #012049 ;
}


/* --------------------------- */