body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-height: 100dvh;
  background-color: #4CABAB;
}

.container {
  padding: 0 10px;
}

.password-form {
  color: #A6A6A6;
  overflow: hidden;
  border-radius: 1rem;
  background-color: #EFF1EF;
  width: 100%;
  max-width: 600px;
}

.password-form h1, .group-wrapper, .bottom-part-3 {
  padding: 20px 30px;
}

.password-form h1 {
  background-color: #4CABAB;
  color: #EFF1EF;
  font-size: 30px;
}

.group-wrapper p {
  margin-bottom: 20px;
  font-weight: 600;
}

.form-group {
  font-weight: bold;
}

.form-group + .form-group {
  padding-top: 30px;
}


.form-control {
  margin-top: 10px;
  display: block;
  width: 100%;
  border: 2px solid #949191;
  border-radius: 10px;
  padding: 10px;
}

.bottom-part-3 {
  text-align: center;
}

.btn-save {
  background-color: #4CABAB;
  border: none;
  color: #EFF1EF;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px 30px;
  font-size: 20px;
  border-radius: 10px;
}

/* Pop up design */
.field {
  background-color: #EFF1EF;
  border-radius: 1.25rem;
  border: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding-top: 30px;
  max-width: 650px;
  min-width: 100px;
  text-align: center;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.6);
}

.text-group h1{
  padding-bottom: .75rem;
  color: #419999;
  font-size: 2.5rem;
}

.icon-wrapper {
  margin-bottom: 20px;
}

.ri-verified-badge-fill {
  font-size: 120px;
}

.text-group p {
  max-width: 500px;
  margin: auto;
  font-size: 1.5rem;
  padding-bottom: 2.7rem;
  font-weight: 600;
  color: #A6A6A6;
  padding-top: .5rem;
}

.bottom-part {
  background-color: #DBDEDA;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 1.25rem 1.25rem;
  padding: .9375rem;
  column-gap: .625rem;
}

.btn {
  display: inline-block;
  font-size: 1.25rem;
  padding: 10px;
  border-radius: .625rem;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  border: 3px solid #4CABAB;
  background-color: #4CABAB;
  color: #EFF1EF;
}
@media only screen and (min-width: 992px) {    
  .btn:hover, .btn-save:hover {
    border: 3px solid #368989;
    background-color: #368989;
    color: #EFF1EF;
  }
}