
@font-face {
  font-family: 'PMedium'; 
  src: url('fonts/Poppins-Medium.ttf') format('truetype'); 
}

@font-face {
  font-family: 'PRegular'; 
  src: url('fonts/Poppins-Regular.ttf') format('truetype'); 
}

@font-face {
  font-family: 'PBold'; 
  src: url('fonts/Poppins-Bold.ttf') format('truetype'); 
}

@font-face {
  font-family: 'PSemiBold'; 
  src: url('fonts/Poppins-SemiBold.ttf') format('truetype'); 
}

@font-face {
  font-family: 'PBlack'; 
  src: url('fonts/Poppins-Black.ttf') format('truetype'); 
}

@font-face {
  font-family: 'PExBold'; 
  src: url('fonts/Poppins-ExtraBold.ttf') format('truetype'); 
}

@font-face {
  font-family: 'PExBoldIt'; 
  src: url('fonts/Poppins-ExtraBoldItalic.ttf') format('truetype'); 
}

@font-face {
  font-family: 'PBlackIt'; 
  src: url('fonts/Poppins-BlackItalic.ttf') format('truetype'); 
}




body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-height: 100dvh;
  background-color: #4CABAB;
}

.form-field {
  margin: 50px 20px;
  background-color: #ffffff;
  padding-top: 6rem;
  border-radius: 1.25rem;
  border: none;
  position: relative;
  width: 100%;
  max-width: 650px;
  min-width: 100px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.lock-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6.5rem;
  height: 6.5rem;
  border: 10px solid #DBDEDA;
  border-radius: 50%;
  background-color: #4CABAB;
  position: absolute;
  top: -2.1875rem;
  left: 50%;
  transform: translateX(-50%);
}

.lock-icon {
  color: #ffffff;
  font-size: 3.8rem;
}


.form-group h1{
  color: #226060;
  font-size: clamp(24px, 3vw, 30px);
  font-family: "PBold";
}

.form-group p {
  max-width: 570px;
  margin: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-size: clamp(14px, 2vw, 16px);
  padding-bottom: 30px;
  font-weight: 600;
  color: #A6A6A6;
  padding-top: .6rem;
  font-family: "PBold";
}


.input-wrapper + .input-wrapper {
  margin-top: 20px;
}

.input-wrapper {
  display: flex;
  max-width: 430px;
  width: 70%;
  margin: auto;
  justify-content: center;
  border: 2.8px solid #949191;
  overflow: hidden;
  border-radius: 10px;
}

.input-wrapper:last-child {
  margin-bottom: 30px;
}

.icon {
  flex: 0 0 40px;
  background-color: #949191;
  color: #EFF1EF;
  padding: 5px;
  font-size: 2rem;
}

.form-control {
  border: none;
  width: 0;
  flex: 1;
  font-weight: 600;
  /* padding: .9375rem .3125rem; */
  padding: .3125rem 0.8rem;
}

.form-border {
  border-radius: 0 .625rem .625rem 0;
}

.bottom-part {
  background-color: #DBDEDA;
  display: flex;
  justify-content: flex-end;
  align-items: end;
  border-radius: 0 0 1.25rem 1.25rem;
  height: 80px;
  padding: .9375rem;
  column-gap: .625rem;
}

.btn, .btn-2 {
  display: inline-block;
  font-size: 1.25rem;
  padding-block: .3125rem;
  border-radius: .625rem;
  width: 7.5rem;
  text-transform: uppercase;
  font-weight: 700;
}

.btn {
  text-decoration: none;
  color: #949191;
  border: 3px solid #949191;
  background-color: #EFF1EF;
  transition: background-color 0.2s, border 0.2s;
}

.btn-2 {
  border: 3px solid #4CABAB;
  background-color: #4CABAB;
  color: #EFF1EF;
  transition: background-color 0.2s, border-color 0.2s;
}

.form-field-2 {
  display: flex;
  flex-direction: column;
  background-color: #EFF1EF;
  border-radius: 1.25rem;
  overflow: hidden;
  margin: 0 10px;
  min-height: 250px;
  max-width: 550px;
}

.form-field-2 h1 {
  padding: 20px 35px;
  flex: 0 0 30px;
  background-color: #4CABAB;
  color: #EFF1EF;
}

.submit-group {
  padding: 20px 35px;
  flex: 1;
}

.form-field-2 p {
  color:#A6A6A6;
  font-weight: 600;
  padding-bottom: 15px;

}

#verification_code {
  letter-spacing: 15px;
  display: block;
  max-width: 300px;
  width: 100%;
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
  border: 2px solid #949191;
  border-radius: 10px;
  margin-bottom: 30px;
}

#verification_code::placeholder {
  letter-spacing: 0;
}

.bottom-part-2 {
  text-align: center;
}

.btn-3 {
  width: 100%;
  background-color: #4CABAB;
  border: none;
  color: #EFF1EF;
  text-transform: uppercase;
  font-weight: bold;
  padding: 15px;
  font-size: 20px;
  border-radius: 10px;
  transition: background-color 0.2s, color 0.2s;
}

.btn-4 {
  font-size: 15px;
}

@media only screen and (min-width: 992px) {    
  .btn:hover{
    color: #EFF1EF;
    border: 3px solid #949191;
    background-color: #949191;
  }

  .btn-2:hover, .btn-3:hover {
    background-color: #368989;
    border-color: #368989;
    color: #EFF1EF;
  }
  
}